{{! this file will handle the rendering for the all employees view, which should load on clicking the employees button in the navbar }}

<div class="container">
	<h2 class="container">ALL EMPLOYEES</h2>

	<table class="striped responsive-table">
		<tbody>
			<tr>
				<td>Employee ID</td>
				<td>First Name</td>
				<td>Last Name</td>
			</tr>
			{{#each data}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.first_name}}</td>
					<td>{{this.last_name}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	{{! Add Employee Button code goes here }}

	{{! Edit Employee Button code goes here }}

</div>