{{! this is the handlebars file for the main landing page upon opening the app}}

{{! EW: The main.handlebars file is for things that will be consistent throughout the pages, like headers and overall styling. this page is what is loaded upon starting the app (visiting the initial webpage), essentially the welcome page }}

<div class="container">
	<p>Welcome to your inventory management system! Please select a page from
		the navbar to access your warehouse information!</p>
</div>