<!-- Instructions -->
<h3 class="container">Please enter data for new employee:</h3>

<!-- First Name -->
<div class="row container">
	<div class="input-field col s6">
		<input
			placeholder="Enter employee's first name"
			id="first-name"
			type="text"
			class="validate"
		/>
		<label class="active" for="first_name2">First Name</label>
	</div>
</div>

<!-- Last Name -->
<div class="row container">
	<div class="input-field col s6">
		<div>
			<label class="active" for="first_name2">Last Name</label>
		</div>
		<input
			placeholder="Enter employee's last name"
			id="last-name"
			type="text"
			class="validate"
		/>
	</div>
</div>

<!-- Submit Button -->
<div class="row container">
	<button id="add-employee-btn" class="waves-effect waves-light btn center-align" type="submit">Submit</button>
</div>

<script src="./js/employee_create.js"></script>