{{! this file will handle the rendering for the all items view, which should load on clicking the items button in the navbar }}

<div class="container">
	<h2 class="container">ALL ITEMS</h2>

	<table class="striped responsive-table">
		<tbody>
			<tr>
				<td>Item Number</td>
				<td>Item Name</td>
				<td>Item Description</td>
				<td>Item Checked In/Out</td>
				<td>Checked out by Employee</td>
			</tr>
			{{#each data}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.item_name}}</td>
					<td>{{this.item_description}}</td>
					{{itemchecker}}
				</tr>
			{{/each}}
		</tbody>
	</table>

	{{! Add Item Button code goes here }}

	{{! Edit Item Button code goes here }}

</div>