<!-- Instructions -->
<h3 class="container">Please enter data for new the new inventory item:</h3>

<!-- Item Name -->
 <div class="row container">
    <div class="input-field col s6">
      <input placeholder="Enter the name of the item" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2">Item Name:</label>
    </div>
  </div>

<!-- Item Description -->
   <div class="row container">
    <div class="input-field col s6">
      <input placeholder="Enter the description of the item" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2">Item Description:</label>
    </div>
  </div>

  <!-- In or out of house -->
  <div class="container">
    <a class="waves-effect waves-light btn card-panel purple darken-3">In House</a>
  </div>

  <!-- Submit Button -->
  <div class="row container">
    <button class="waves-effect waves-light btn center-align">Submit</button>
  </div>