<!-- In or out of house -->
{{#if item_checked_in}}
	<div class="container">
		<a class="waves-effect waves-light btn card-panel purple darken-3">Check
			Out</a>
	</div>
{{else}}
	<div class="container">
		<a class="waves-effect waves-light btn card-panel purple darken-3">Check
			In</a>
	</div>
{{/if}}